@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-light: black;
  --clr-dark: #C6C6C6;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;
  --img-bg: invert(1);
  --form-bg: #1E1E1E;
  --clr-placeholder: #DADADA;
  --clr-button: white;
  

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;
}

.darkmode {
  --clr-light: #1f1f1f;
  --clr-dark:  #FFFFFF;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;
  --img-bg: invert(0);
  --form-bg: #EEEEEE;
  --clr-placeholder: #707070;
  --clr-button: black;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}
#background {
    background-color: var(--background);
    transition: 0.3s;
}

#logo {
    filter: var(--img-bg);
    transition: 0.3s;
}

#titulo {
    color: var(--foreground);
    transition: 0.3s;
}

#sub {
    color: var(--foreground);
    transition: 0.3s;
}

input[type=email] {
    background-color: var(--form-bg);
    border-color: white;
    border-width: 1px;
    transition: 0.3s;
    
    
  }

input[type=email]::placeholder {
    color: var(--clr-placeholder);
    transition: 0.3s;
}


input[type=password] {
    background-color: var(--form-bg);
    border-color: white;
    border-width: 1px; 
    transition: 0.3s;
    
  }

input[type=password]::placeholder {
    color: var(--clr-placeholder);
    transition: 0.3s;
}

#conta {
    color: var(--clr-button);
    border-color: var(--clr-button);
    transition: 0.3s;
}

#conta:hover {
  color: white; 
}

.intro {
  height: 80vh;
  padding: 10em 0;
  display: grid;
  grid-template-columns: minmax(2em, 1fr) minmax(80vw, 860px) minmax(2em, 1fr);
  background: linear-gradient(120deg, var(--clr-primary), var(--clr-secondary));
  align-content: center;
}

.intro > * {
  grid-column: 2 / 3;
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  border: 2px solid;
  padding: 4px 8px 8px 8px;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

